.filter-prod-btn {
  display: none;
}

.sidebar > .apply-filter-btn {
  display: none;
}

.sidebar-sm {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-height: 100vh;
  background: var(--color-blue-light);
  color: var(--color-card-bg);
  overflow: hidden;
  padding: 1rem;
  z-index: 1;
}

.product-card-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-title {
  text-align: center;
}

.product-card {
  border-radius: 0.4rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-fg);
  position: relative;
}



.product-img > img {
  width: 18.75rem;
  height: 18.75rem;
  object-fit: cover;
  border-radius: 0.4rem 0.4rem 0 0;
}

.product-details {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-details > a{
  color: var(--color-card-bg);
  text-decoration: none;
}

.product-price-rating {
  display: flex;
  justify-content: space-between;
}

.product-price {
  background-color: var(--color-foreground);
  color: var(--color-background);
  font-weight: bold;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem;
  width: fit-content;
}

.product-rating {
  border: 2px solid var(--color-foreground);
  font-weight: bold;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem;
  width: fit-content;
}

.product-btn {
  margin-top: auto;
}

.product-btn button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  border: none;
  font-weight: bold;
}

.product-wishlist-check svg {
  width: 1.5rem;
  height: 1.5rem;
}

.product-go-to-cart {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.product-go-to-cart:hover{
  opacity: 80%;
}

.product-wishlist {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-color: var(--color-bg-light-gray);
  border-radius: 50%;
  right: 0;
  margin: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
}

.wishlist-svg {
  color: var(--color-alert-bg);
}

.price-range-slider {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
}

.clear-btn {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .filter-prod-btn {
    display: block;
    background: var(--color-blue-light);
    margin: 0 1rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    color: var(--color-blue-dark);
    font-size: 1.2rem;
    font-weight: bold;
  }
  .apply-filter-btn {
    display: block;
    background: var(--color-blue-light);
    margin: 1rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    color: var(--color-blue-dark);
    border: 1px solid var(--color-blue-dark);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
